@import "../../assets/variables.scss";

.textImgBox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 1.4rem;
        max-width: 48%;
    }

    img {
        max-width: 50%;
        border-radius: 0.5rem;
    }
}

@media (max-width: 768px) {
    .textImgBox {
        flex-direction: column-reverse;
        gap: 1rem;

        p {
            font-size: 1.4rem;
            max-width: 95%;
        }

        img {
            max-width: 95%;
            border-radius: 0.5rem;
        }
    }
}
