@import "../../../../assets/variables.scss";

.listItem {
    display: flex;
    justify-content: space-between;

    border-radius: 5px;
    padding: 2.5px 7.5px;

    background-color: $bgPrimary;
}

@media (max-width: 500px) {
    .listItem {
        #p {
            font-size: 1.1rem;
        }
    }
}
