@import "../../assets/variables.scss";

.header {
    background-color: $bgSecondary;
    color: $text;
    height: 4.5rem;
    padding: 0 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .div {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

@media (max-width: 550px) {
    .header {
        padding-top: 0.5rem;
        flex-direction: column;
        justify-content: left;
        gap: 0.5rem;
        height: 9rem;

        .div {
            flex-direction: column;
        }
    }
}

@media (max-width: 405px) {
    .header {
        height: 12rem;
    }
}
